@page "/userpage"
@inject HttpClient Http

<PageTitle>用户列表</PageTitle>

<h1>用户列表</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-hover >
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.ID</td>
                    <td>@user.Name</td>
                    <td>@user.Phone</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private User[]? users;
    string rootUrl = "https://api.aicoat.top";

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<User[]>(rootUrl + "/users");
    }

    public class User
    {
        
        public int ID { get; set; }

        public string? Name { get; set; }

        public string? Phone { get; set; }
    }
}